* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(images/bg-intro-desktop.png);
}

.main1 {
    color: white;
    margin-left: 20vw;
    margin-top: 35vh;
    
}


p {
    line-height: 25px;
}



.main2 {
    
    float: right;
    margin-right: 10vw;
    margin-top: -45vh;
}

.main1 h1 {
    font-size: 50px;
}

.main1 p {
    font-size: 18px;
}

.button1 {
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-width: 0;
    border-radius: 5px;
    width: 30vw;
    height: 7vh;
}



.span1 {
    font-weight: bold;
}

.span2 {
    color: red;
    
}
.main2 p {
    font-size: 12px;
}

.box {
    width: 30vw;
    height: 55vh;
    background-color: white;
    border-radius: 8px;
    
    
}

.button2 {
    border-width: 0;
    border-radius: 5px;
    width: 30vw;
    height: 7vh;
    background-color:  hsl(154, 59%, 51%);
    color: white;
}